
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.env.old
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/docker

/storage/logs/cli/laravel.log
/storage/logs/cli-server/laravel.log

/storage/logs/fpm-fcgi/laravel.log
dc.bk
dc.bk.latest


storage/sa-key.json
storage/sa-key.json.DS_Store

